<h1>
  {{title}}
</h1>
<h1>
  {{getNumTodos()}}
</h1>

<div *ngIf="!selected">
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Description</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let todo of todos'>
        <td (click)='displayTodo(todo)' >{{todo.task}}</td>
        <td>{{todo.description}}</td>
        <td>{{todo.completed}}</td>
      </tr>
    </tbody>
    </table>

  </div>

  <div *ngIf="selected">
    <table>
      <tr>
        <th> ID </th>
        <td>{{selected.id}}</td>
      </tr>
      <tr>
        <th> Task </th>
        <td>{{selected.task}}</td>
      </tr>
      <tr>
        <th> Description </th>
        <td>{{selected.description}}</td>
      </tr>
      <tr>
        <th> Completed </th>
        <td>{{selected.completed}}</td>
      </tr>
      <tr>
        <td>
          <button (click)='displayTable()'> Back </button>
        </td>
      </tr>
    </table></div>
