<h1>
  {{title}}
</h1>
<h1>
  {{getNumTodos()}}
</h1>

<div *ngIf="!selected">
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Mark</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let todo of todos'>
        <td (click)='displayTodo(todo)' >{{todo.task}}</td>
        <td><input type="checkbox" name="completed" [(ngModel)]="todo.completed" /></td>
        <td>{{todo.completed}}</td>
      </tr>
    </tbody>
    </table>
    <form #addTask = "ngForm" *ngIf="!selected">
      <input type="text" name="task" placeholder="Add new Task" [(ngModel)]="newTodo.task" />
      <input type="submit" name="submit" value="Add" (click) = "addTodo()" >
    </form>

  </div>

  <div *ngIf="selected && !editTodo">
    <table>
      <tr>
        <th> ID </th>
        <td>{{selected.id}}</td>
      </tr>
      <tr>
        <th> Task </th>
        <td>{{selected.task}}</td>
      </tr>
      <tr>
        <th> Description </th>
        <td>{{selected.description}}</td>
      </tr>
      <tr>
        <th> Completed </th>
        <td>{{selected.completed}}</td>
      </tr>
      <tr>
        <td>
          <button (click)='setEditTodo()'> Edit </button>
        </td>
        <td>
          <button (click)='displayTable()'> Back </button>
        </td>
      </tr>
    </table></div>

    <div>
      <form *ngIf="editTodo">
        <input type="text" name="task" placeholder={{editTodo.task}} [(ngModel)]="editTodo.task" /><br>
        <input type="text" name="description" placeholder={{editTodo.description}} [(ngModel)]="editTodo.description" /><br>
        <input type="checkbox" name="completed" placeholder={{editTodo.completed}} [(ngModel)]="editTodo.completed" /><br>
        <input type="submit" name="submit" value="Save" (click) = "updateTodo(editTodo)" >
        <input type="submit" name="submit" value="Cancel" (click) = "resetTodo()" >
      </form>
    </div>
